In [3]:
##Q1. Create one variable containing following type of data:
    ##string
##(ii) list
##(iii) float
##(iv) tuple

In [10]:
a="Dipa"
print(a)

l=[1,2,3,'dipa',12.87]
print(l)

a=98.78
print(a)

t=(2,5,2,9)
print(t)

Dipa
[1, 2, 3, 'dipa', 12.87]
98.78
(2, 5, 2, 9)

In [12]:
##Q2. Given are some following variables containing data:
##(i) var1 = ‘ ‘
##(ii) var2 = ‘[ DS , ML , Python]’
##(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##(iv) var4 = 1.
##What will be the data type of the above given variable.

In [14]:
var1=' '
print(type(var1))
var2='[DS,ML,python]'
print(type(var2))
var3=['DS','ML','python']
print(type(var3))
var4=1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [15]:
#Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

a=10
b=5
c=a/b
print(c)

a=10
b=3
c=a%3
print(c)

a=10
b=3
c=a//b
print(c)

a=3
b=3
c=a**b
print(c)

2.0
1
3
27

In [ ]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
##element and its data type.

In [16]:
l=[1,2,3,'dipa',23.98,4,5,'code',9,10]
for i in l:
  print(i)
  print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
dipa
<class 'str'>
23.98
<class 'float'>
4
<class 'int'>
5
<class 'int'>
code
<class 'str'>
9
<class 'int'>
10
<class 'int'>

In [1]:
##Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
##times it can be divisible.
print("Enter a")
a=int(input())

print("Enter b")
b=int(input())
while(a%b==0):
    c=a/b
    print(c)
    break
else:
    print("not devisible")

Enter a

 9

Enter b

 3

3.0

In [3]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print("divisible")
    else:
        print("not divisible")

not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible
not divisible
divisible
not divisible

In [6]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.


# Mutable and immutable data types are concepts used in programming to describe whether the value of a data type
# can be changed (mutable) or not (immutable) after it has been created. 

message = "Hello"
message[0]="m"
print(message)

TypeError: 'str' object does not support item assignment